body {
    font-family: var(--font-sans);
    background-color: var(--neutral-50);
    color: var(--neutral-900);
}

h1,
h2,
h3 {
    font-family: var(--font-serif);
    font-weight: 400;
    line-height: 1.1;
}

.sidebar {
    display: none;

}

.receipt-card {
    position: absolute;
    width: 350px;
    top: 0%;
    left: 25%;
    background-color: var(--neutral-0);
    padding: 1.1rem;
    border-radius: 13px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15); /*deslocamento-horizontal deslocamento-vertical desfoque cor*/
}

.receipt-number {
    font-family: var(--font-mono);
}

.date-value {
    font-family: var(--font-serif);
}

.pricing dd {
  font-family: var(--font-mono);
}

.pricing dd:last-child {
  font-family: var(--font-serif);
}
.pricing dt:last-of-type {
  border-top: 2px solid var(--neutral-400);
  padding-top: 0.5rem; /* espaço entre a linha e o texto */
}

.payment-status {
    font-family: var(--font-mono);
    text-transform: uppercase;
    color: var(--neutral-600);
    font-size: 12px;
    
}
.attribution {
    font-size: 0.6875rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
    /* regras que só se aplicam a partir de 768px */

    body {
        display: grid;
        grid-template-columns: 280px 1fr;
    }

    .booking-cards {
        position: relative;

    }
    .receipt-card{
        position: absolute;
        width: 350px;
        top: 0%;
        left: 25%;
        /*outline: 2px solid red;*/

    }

    .host-note-card{
        position: absolute;
        width: 350px;
        top: 0%;
        right: 38%;
        /*outline: 2px solid blue;*/

    }

    .attribution {
        grid-column: 1 / -1;

    }

    .sidebar {
        display: flex;
        flex-direction: column;
    }
}