body {
    font-family: var(--font-sans);
    background-color: var(--neutral-50);
    color: var(--neutral-900);
}

h1,
h2,
h3 {
    font-family: var(--font-serif);
    font-weight: 400;
    line-height: 1.1;
}

.sidebar {
    display: none;

}

.receipt-label {
    font-family: var(--font-mono);
    text-transform: uppercase;
    color: var(--neutral-600);
    font-size: 10px;
    letter-spacing: 1px;
}

dt .receipt-label {
    padding: 1.1rem;
}

.receipt-730 {
    margin-top: 2rem;
}

.receipt-card {
    width: 350px;
    background-color: var(--neutral-0);
    padding: 1.1rem;
    border-radius: 13px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    /*deslocamento-horizontal deslocamento-vertical desfoque cor*/
}

.receipt-card h3 {
    border-bottom: 1px dashed var(--neutral-200);
    padding-bottom: 0.5rem;
}

.receipt-card .stay-dates {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    row-gap: 10px;
    border-bottom: 1px dashed var(--neutral-200);
    text-align: center;
    grid-auto-flow: column;
    align-items: start;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.pricing dd {
    font-family: var(--font-mono);
    text-align: right;
    font-size: 12px
}

.pricing {
    display: grid;
    grid-template-columns: 1fr auto;
    font-size: 12px;
    row-gap: 12px;
    column-gap: 0;
    margin-top: 0.5rem;
}

.pricing dd:last-child {
    font-family: var(--font-serif);
    font-size: 22px;
    margin: 0;
    border-top: 2px solid var(--neutral-400);
    padding-top: 0.5rem;
}

.stay-dates> :nth-child(-n+2) {
    border-right: 1px dashed var(--neutral-200);
    padding-right: 0.5rem;
}

.date-value {
    display: block;
    text-align: center;
    font-size: 24px;

}

.date-detail {
    display: block;
    font-size: 12px;
    color: var(--neutral-600);
    padding-top: 0.1rem;
}

.receipt-number {
    font-family: var(--font-mono);
    text-align: right;
}

.number-line1 {
    display: block;
    font-size: 12px;

}

abbr {
    text-decoration: none
}

.number-line2 {
    display: block;
    font-size: 12px;

}

.date-value {
    font-family: var(--font-serif);
}

.pricing dd {
    font-family: var(--font-mono);
}

.pricing dt:last-of-type {
    border-top: 2px solid var(--neutral-400);
    padding-top: 1rem;
}

.tourist-tax {
    color: var(--neutral-600);
}

.payment-status {
    font-family: var(--font-mono);
    text-transform: uppercase;
    color: var(--neutral-600);
    font-size: 8.5px;
    letter-spacing: 1px;

}

.receipt-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 0.8rem;
}

.host-note-card {
    width: 350px;
    padding: 2rem;
    border-radius: 13px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    background: linear-gradient(150deg, var(--terracotta-700), var(--terracotta-400));
    color: var(--neutral-0);

}

.host-note-card::before {
    content: "";
    position: absolute;
    top: 1.1rem;
    /* ajuste depois */
    left: 1.1rem;
    right: 1.1rem;
    height: 1px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.6), transparent);

    -webkit-mask-image: repeating-linear-gradient(to right,
            black 0px,
            black 4px,
            transparent 4px,
            transparent 8px);
    mask-image: repeating-linear-gradient(to right,
            black 0px,
            black 4px,
            transparent 4px,
            transparent 8px);
}

.host-note {
    font-family: var(--font-serif);
    font-style: italic;
    color: var(--sun-200);
    font-size: 15px;
    line-height: 1.4;
}

.host-name {
    display: block;
    font-family: var(--font-serif);
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.4;

}

.welcome-label {
    font-family: var(--font-mono);
    text-transform: uppercase;
    color: var(--neutral-200);
    font-size: 8px;
    letter-spacing: 1px;

}

.name-note {
    margin-top: 2rem;
}

.room-value {
    font-family: var(--font-serif);
    font-size: 15px;
    display: block;
}


.attribution {
    font-size: 0.6875rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
    /* regras que só se aplicam a partir de 768px */

    body {
        display: grid;
        grid-template-columns: 280px 1fr;
    }

    .booking-cards {
        position: relative;

    }

    .receipt-card {
        position: absolute;
        width: 350px;
        top: 0%;
        left: 25%;
        /*outline: 2px solid red;*/

    }

    .receipt-header {
        display: flex;
        justify-content: space-between;
    }

    .host-note-card {
        position: absolute;
        width: 350px;
        top: 0%;
        right: 33.5%;
        z-index: 1;
    }

    .host-note-card img {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .attribution {
        grid-column: 1 / -1;

    }

    .sidebar {
        display: flex;
        flex-direction: column;
    }
}